// Définition des variables de tailles de police
$font-size-xxxl: 48px;
$font-size-xxl: 36px;
$font-size-xl: 24px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;
$font-size-xxxs: 10px;
