@use "../../../../sass/variables" as *;
@use "../../../../sass/mixins" as *;
@use "../../../../sass/base" as *;

.hebergement-card {
  width: 100%;
  max-width: 340px;
  height: 340px;
  border-radius: 10px;
  background: $cardsGradient;
  @include flex-column;
  justify-content: space-between;
  padding: 10px;

  /* Mobile */
  @include media-query(mobile) {
    width: 100%;
    height: 255px;
  }

  /* Mobile Large */
  @include media-query(tablet) {
    width: 100%;
    height: 235px;
  }
}

.hebergement-card h2 {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
