@use "../../../../sass/variables" as *;
@use "../../../../sass/mixins" as *;

.hebergement-card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: $cardsGradient;
  @include flex-column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;

  // Utilisation du mixin avec @include pour la media query mobile
  @include media-query(mobile) {
    width: 335px;
    height: 255px;
  }
}

.hebergement-card h2 {
  color: white;
  max-width: 300px; /* Définit la largeur maximale du titre */
  word-wrap: break-word; /* Permet au texte de se couper proprement */
  overflow-wrap: break-word; /* Assure que le texte se divise proprement sur plusieurs lignes */
}
