@use "../../sass/mixins" as *;
.app {
  max-width: 1440px;
  padding-top: 30px;
  gap: 50px;
  @include flex-column;
  margin: auto;
  .main-container {
    display: flex;
    margin: auto;
    width: 1240px;
  }
}
