@use "../../sass/mixins" as *;

.app {
  @include flex-column;
  max-width: 1440px;
  padding-top: 30px;
  gap: 50px;

  margin: auto;

  .main-container {
    @include flex-column;
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }

  @include media-query(tablet) {
    .main-container {
      width: 100%;
      max-width: 768px;
      padding: 30px;
    }
  }

  @include media-query(mobile-large) {
    .main-container {
      width: 100%;
      max-width: 480px;
      padding: 20px;
    }
  }

  @include media-query(mobile) {
    gap: 10px;
    .main-container {
      width: 100%;
      max-width: 375px;
      padding: 10px;
    }
  }
}
