@use "../../sass/mixins" as *;
.app {
  max-width: 1440px;
  // height: 100vh;
  // height: 1517px;
  padding: 50px 0;
  gap: 50px;
  @include flex-column;
  margin: auto;
  .main-container {
    display: flex;
    margin: auto;
    width: 1240px;
  }
}
