@use "../../sass/mixins" as *;

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px; /* Largeur maximale pour les écrans de bureau */
  margin: auto; /* Centre la section horizontalement */

  /* Media query pour mobile */
  @include media-query(mobile) {
    width: 100%; /* Prend toute la largeur de l'écran sur mobile */
    padding: 0 20px; /* Ajoute un padding pour éviter que le contenu touche les bords */
  }

  /* Media query pour mobile-large */
  @include media-query(mobile-large) {
    width: 100%; /* Prend toute la largeur de l'écran */
    padding: 0 30px; /* Ajoute un peu plus de padding pour les écrans plus larges */
  }

  /* Media query pour tablette */
  @include media-query(tablet) {
    width: 100%; /* Prend toute la largeur de l'écran */
    padding: 0 40px; /* Ajuste le padding pour les tablettes */
  }

  /* Media query pour desktop */
  @include media-query(desktop) {
    width: 100%; /* Prend toute la largeur de l'écran en mode desktop */
    padding: 0 50px; /* Ajuste le padding pour les grands écrans */
  }
}
