@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.collapse-container {
  display: inline-block;
  width: 50%;
  max-width: 1023px;
  vertical-align: top;
  margin: 0 auto;
  padding: 5px;
  &.full-width {
    width: 100%; // Si fullWidth est activé, alors 100%
  }
  .header {
    color: $quaternary-color;
    background-color: $primary-color;
    border-radius: 10px;
    @include s-font-bold;
    @include flex-between-center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    .title-container {
      @include l-font;
    }

    .toggleButton {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;

      img {
        transition: transform 0.3s ease-in-out;
        will-change: transform;
        transform: rotate(0deg);
      }

      &.active img {
        transform: rotate(180deg);
      }
    }
  }

  .content-container {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: $tertiary-color;
    padding: 0 1rem;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      padding 0.3s ease-in-out;

    &.appear {
      max-height: 300px;
      opacity: 1;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  @include media-query(mobile) {
    width: 100%;

    .header {
      .title-container {
        @include xs-font-bold;
      }
    }

    .content-container {
      padding: 0.5rem;
    }
  }
  @include media-query(mobile-large) {
    width: 100%;

    .header {
      .title-container {
        @include xs-font-bold;
      }
    }

    .content-container {
      padding: 0.5rem;
    }
  }
  @include media-query(tablet) {
    width: 100%;

    .header {
      .title-container {
        @include xs-font-bold;
      }
    }

    .content-container {
      padding: 0.5rem;
    }
  }
}
