@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.fiche-logement {
  position: relative;
  width: 100%;

  .fiche-logement__info-rating-container {
    @include flex-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;

    .fiche-logement__info-tags {
      @include flex-column;
      gap: 1rem;
      .fiche-logement__info-container {
        .fiche-logement__title {
          @include xl-font;
          color: $primary-color;
        }
        .fiche-logement__location {
          @include m-font-light;
        }
      }

      .fiche-logement__tags-container {
        width: 100%;
        display: flex;
        gap: 1rem;

        .fiche-logement__tag {
          @include s-font-bold;
          text-align: center;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $primary-color;
          color: $quaternary-color;
          white-space: nowrap;
        }
      }
    }

    .fiche-logement__owner-rating {
      @include flex-column;
      gap: 1rem;
      .fiche-logement__owner {
        @include flex-align-center;

        .fiche-logement__owner-name {
          @include flex-column;
          align-items: flex-end;
          margin-right: 1rem;
          color: $primary-color;
          @include m-font-light;
        }

        .fiche-logement__owner-picture-container {
          width: 64px;
          height: 64px;
          overflow: hidden;
          border-radius: 50%;
        }
      }
    }
  }

  .fiche-logement__details {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 1rem;
  }

  @include media-query(mobile) {
    width: 100%;

    .fiche-logement__cover {
      width: 335px;
      height: 255px;
      border-radius: 0;
    }

    .fiche-logement__info-rating-container {
      @include flex-column;
      align-items: flex-start;
      gap: 1rem;
      .fiche-logement__owner-rating {
        width: 100%;
        @include flex-between-center;
        flex-direction: row-reverse;

        .fiche-logement__owner {
          padding-right: 1rem;
        }
        .fiche-logement__rating {
          padding-left: 0.5rem;
        }
      }
      .fiche-logement__info-tags {
        width: 100%;
        @include flex-column;
        gap: 1rem;
      }
      .fiche-logement__tags-container {
        width: 100%;
        flex-wrap: wrap;
      }
    }

    .fiche-logement__details {
      flex-direction: column;
      padding-right: 10px;
      gap: 0;
    }
  }

  @include media-query(mobile-large) {
    width: 100%;

    .fiche-logement__cover {
      width: 100%;
      height: 255px;
    }

    .fiche-logement__info-rating-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      .fiche-logement__owner-rating {
        width: 100%;
        @include flex-between-center;
        flex-direction: row-reverse;
        .fiche-logement__owner {
          padding-right: 1rem;
        }
        .fiche-logement__rating {
          padding-left: 0.5rem;
        }
      }
      .fiche-logement__info-tags {
        width: 100%;
        @include flex-column;
        gap: 1rem;
      }
      .fiche-logement__tags-container {
        width: 100%;
        flex-wrap: wrap;
      }
    }

    .fiche-logement__details {
      flex-direction: column;
      padding-right: 10px;
      gap: 0;
    }
  }

  @include media-query(tablet) {
    width: 100%;

    .fiche-logement__cover {
      width: 100%;
      height: 255px;
    }

    .fiche-logement__info-rating-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      .fiche-logement__owner-rating {
        width: 100%;
        @include flex-between-center;
        flex-direction: row-reverse;
      }
    }

    .fiche-logement__details {
      flex-direction: column;
      gap: 0;
    }
  }

  @include media-query(desktop) {
    width: 100%;

    .fiche-logement__cover {
      margin: auto;
      width: 95%;
      height: 255px;
    }

    .fiche-logement__info-rating-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      .fiche-logement__owner-rating {
        width: 100%;
        @include flex-between-center;
        flex-direction: row-reverse;

        .fiche-logement__owner {
          padding-right: 1rem;
        }
        .fiche-logement__rating {
          padding-left: 0.5rem;
        }
      }
    }

    .fiche-logement__details {
      padding-right: 10px;
      gap: 0;
    }
  }
}
