@use "../../sass/mixins" as *;

.header {
  @include flex-between;
  margin: auto;
  width: 1240px;

  &__logo-title {
    display: flex;
  }

  &__img {
    height: 53px;
    width: auto;
    margin-left: 5px;
  }

  // Conteneur de navigation
  &__nav {
    display: flex;
    align-items: center;
  }
}
