@use "../../../sass/variables" as *;
@use "../../../sass/mixins" as *;

.card-list-article {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%; /* La largeur de l'article prend toute la largeur du parent */

  .card-list-section {
    width: 100%; /* La section prend toute la largeur du parent */
    max-width: 100%; /* Pas de largeur maximale pour éviter toute restriction */
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes flexibles */
    gap: 30px;
    margin-top: 20px;
    background: #f6f6f6;
    padding: 30px;
    justify-content: center;

    /* 📱 Mobile : 1 seule colonne */
    @include media-query(mobile) {
      grid-template-columns: 1fr; /* Une seule colonne sur mobile */
      gap: 10px;
      padding: 0;
      background: #ffffff;
    }

    /* Media query pour mobile-large */
    @include media-query(mobile-large) {
      grid-template-columns: repeat(
        2,
        1fr
      ); /* 2 colonnes pour les grands écrans mobiles */
      gap: 20px;
    }

    /* Media query pour tablette */
    @include media-query(tablet) {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
      gap: 20px;
    }

    /* Media query pour desktop */
    @include media-query(desktop) {
      grid-template-columns: repeat(
        3,
        1fr
      ); /* 3 colonnes sur les écrans de bureau */
      gap: 30px;
      padding: 30px;
      background: #f6f6f6;
    }
  }

  /* Rendre les cartes (cards) flexibles */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Les cartes prennent toute la largeur disponible */
    width: 100%; /* Les cartes doivent occuper toute la largeur de la grille */
  }
}
