.navigation {
  .navigation__list {
    display: flex;
    justify-content: center;
    gap: 57px;
    margin: 0;

    .navigation__link {
      display: inline-block;
      text-align: center;
      color: #000;
      font-size: 1rem;
      text-decoration: none; /* Aucun soulignement par défaut */
      position: relative; /* Nécessaire pour afficher le soulignement */
    }

    li:last-child {
      .navigation__link {
        margin-right: 0; /* Enlève la marge à droite du dernier élément */
      }
    }
  }
}

.navigation__link::after {
  content: none; /* Aucun pseudo-élément par défaut */
}

.navigation__link--active::after {
  content: ""; /* Crée le soulignement quand le lien est actif */
  position: absolute;
  left: 0;
  bottom: 5px; /* Positionne le soulignement en bas du lien */
  width: 100%; /* Prend la largeur exacte du texte */
  height: 2px; /* Hauteur du soulignement */
  background-color: #000; /* Couleur du soulignement */
}
