@use "../../sass/base" as *;
@use "../../sass/mixins" as *;
@use "../../sass/variables" as *;

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;

  &__image {
    @include background-cover($default-banner-image);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
  }

  .banner__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    @include xx-font;
    z-index: 2;
  }

  @include media-query(mobile) {
    width: 315px;
    height: 111px;
    border-radius: 0;

    .banner__text {
      top: 50%;
      left: 22%;
      display: flex;
      flex-direction: column;
      @include s-font;
    }
  }

  @include media-query(desktop) {
    width: 100%;
    height: 300px;
  }
}
